{#
/**
 * @file       twig/search.twig 
 * @category   admintool
 * @package    addon_monitor
 * @author     Christian M. Stefan (https://www.wbeasy.de)
 * @license    http://www.gnu.org/licenses/gpl.html
 * @platform   WBCE CMS 1.7.0
 */
#}
<div class="am-filter-group">
    <span>{{ L_('TXT:SEARCH_BY_NAME') }}</span>
    <div class="am-filter-row">
        <input class="am-filter" type="text" id="filter_titles"  data-filter-col="1" data-clear="clear_titles"  maxlength="50" placeholder="{{ L_('TEXT:SEARCH') }}…">
        <button class="am-clear" id="clear_titles" type="button">✕</button>
    </div>
</div>
<div class="am-filter-group">
    <span>{{ L_('TXT:SEARCH_BY_AUTHOR') }}</span>
    <div class="am-filter-row">
        <input class="am-filter" type="text" id="filter_authors" data-filter-col="4" data-clear="clear_authors" maxlength="50" placeholder="{{ L_('TEXT:SEARCH') }}…">
        <button class="am-clear" id="clear_authors" type="button">✕</button>
    </div>
</div>