body,td,th,input,textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
body {
	background-color: #FFFFFF;
	margin: 0px;
}
hr {
	margin: 0px;
	color: #003366;
	height: 1px;
}
a:link, a:visited, a:active {
	color: #003366;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #336699;
}
input:focus, select:focus, textarea:focus {
	background: #F1F8FD;
}
.content {
	width: 100%;
	height: 100px;
}
.rename {
    background: #fff url(images/bgtitle.png) ;
    background-repeat:repeat-x;
	padding: 20px;
}
.hide {
	display: none;
}
