.frm-required { color :#ff0000; }
.frm-field_title { font-size :12px; width :25%; vertical-align :top; white-space :nowrap; text-align :right; }
.frm-textfield { font-size :12px; width :90%; }
.frm-textarea { font-size :12px; width :100%; height :100px; }
.frm-field_heading { font-size :12px; font-weight :bold; border-bottom-width :2px; border-bottom-style :solid; border-bottom-color :#666666; padding-top :10px; color :#666666; }
.frm-select { font-size :12px; width :50%; }
.frm-select option { font-size :12px; width :95%; }
.frm-field_checkbox { font-size :11px; cursor :pointer; width :30px; vertical-align :middle; }
.frm-checkbox_label { font-size :11px; cursor :pointer; width :auto; }
.frm-radio_label { font-size :11px; cursor :pointer; }
.frm-email { font-size :12px; width : 90%; }
/*** Don't remove the class nixhier, this is required for ASP ***/
.frm-nixhier { display :none; }
.frm-submission { margin :0 auto; position :relative; width :auto; }		