@import url(fitgrid.css);

@font-face {
    font-family: 'dosis';
    src: url('fonts/dosis-bold-webfont.eot');
    src: url('fonts/dosis-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dosis-bold-webfont.woff2') format('woff2'),
         url('fonts/dosis-bold-webfont.woff') format('woff'),
         url('fonts/dosis-bold-webfont.ttf') format('truetype'),
         url('fonts/dosis-bold-webfont.svg#dosisbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'dosis';
    src: url('fonts/dosis-medium-webfont.eot');
    src: url('fonts/dosis-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dosis-medium-webfont.woff2') format('woff2'),
         url('fonts/dosis-medium-webfont.woff') format('woff'),
         url('fonts/dosis-medium-webfont.ttf') format('truetype'),
         url('fonts/dosis-medium-webfont.svg#dosismedium') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'dosis';
    src: url('fonts/dosis-regular-webfont.eot');
    src: url('fonts/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dosis-regular-webfont.woff2') format('woff2'),
         url('fonts/dosis-regular-webfont.woff') format('woff'),
         url('fonts/dosis-regular-webfont.ttf') format('truetype'),
         url('fonts/dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

body {
  font-family: 'dosis', sans-serif;
  color:#303030;
}

a:link, a:visited {
  color:#000;
}

a:hover, a:visited:hover {
  background-color:#000;
  color:#fff;
}

h1 {
  text-transform:uppercase;
  margin-top:0;
}

p {
  margin:0 0 0.5em 0;
}

img {
  max-width:100%;
  height:auto;
}

.ifl {
  float:left;
  margin:0 1em 1em 0;
}

.ifr{
  float:right;
  margin:0 0 1em 1em;
}

a.button:link, a.button:visited {
  padding:0.5em;
  text-decoration:none;
  font-weight:700;
  color:#fff;
  border-radius:5px;
}

a.button:link, a.button:visited {
  background-color:#2a3fff;
}

a.button:hover, a.button:visited:hover {
  background-color:#009fe3;
}

a.purple:link, a.purple:visited {
  background-color:#951b81;
}

a.purple:hover, a.purple:visited:hover {
  background-color:#e119c0;
}


a.green:link, a.green:visited {
  background-color:#166837;
}

a.green:hover, a.green:visited:hover {
  background-color:#19e169;
}

.contents button {
  display:block;
}

h2.featureheadline {
  text-align:center;
}

img.featureimage  {
  max-width:100%;
}

p.featureteaser  {
  text-align:justify;
  min-height:8em;
}
