@import url('font/opensans.css');
/* some basics */
*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    line-height: 24px;
}
body {
    font-family: open_sans, Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #f3f3f3;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
label {
    display: inline-flex;
}
#mainarea {
    z-index: auto;
}
div.calendar {
    z-index: 50;
}
#headerarea {
    z-index: 3000;
}
#sidebararea {
    z-index: 2000;
}
#pagetopmenu {
    z-index: 1000;
}
/* Classes used for animation toggle action sidebar */
#sidebararea.closedsidebar {
    left: -280px;
}
#mainmenu ul.closedsidebar {
    left: 215px;
}
#mainmenu.closedsidebar {
    top: -120px;
}
#userbox.closedsidebar {
    opacity: 0;
}
#systeminfo.closedsidebar {
    opacity: 0;
}
#pagetopmenu.closedsidebar {
    padding-left: 70px;
}
.container #mainarea.closedsidebar {
    padding-left: 72px;
}
/* H2 headings */
.page_titel {
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
    padding: 6px 16px 6px 70px;
    font-weight: normal;
    color: #cbcfd8;
    background-color: #28609B;
    overflow: hidden;
    white-space: nowrap;
}
.page_titel a {
    color: #cbcfd8;
}
.page_titel:before {
    box-sizing: border-box;
    font-family: FontAwesome;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: #cbcfd8;
    background-color: #323741;
    border-right: 1px solid #cccccc;
}
/* Alerts */
.alertbox_success {
    background-color: #4DB34E;
    border: 1px solid #337733;
    color: #ffffff;
    text-align: right;
    padding: 0 20px 0 50px;
    margin-bottom: 20px;
}
.alertbox_success input[type='button'] {
    background-color: #337733;
}
.alertbox_error {
    background-color: #EE4E26;
    border: 1px solid #B02E0E;
    color: #ffffff;
    text-align: right;
    padding: 0 20px 0 50px;
    margin-bottom: 20px;
}
.alertbox_error input[type='button'] {
    background-color: #B02E0E;
}
/* Buttons */
button, .wb_button, input[type='button'], input[type='submit'], input[type='reset'] {
    font-family: open_sans;
    background-color: #505b6d;
    border: none;
    margin: 10px 0;
}
button:hover, .wb_button:hover, input[type='button']:hover, input[type='submit']:hover, input[type='reset']:hover {
    background-color: #46505f;
}
/* headerarea */
#mainarea {
    position: relative;
    width: 100%;
    /* leave left area free --> left side bar */
    padding: 115px 2% 0 352px;
}
#contentarea {
    max-width: 1280px;
    padding-top: 0;
    padding-bottom: 36px;
}
#headerarea {
    position: fixed;
    width: 100%;
    height: 72px;
    padding: 12px 18px;
    background-color: #323741;
    border-bottom: 1px solid #777777;
    color: #ADB5C3;
}
#branding {
    position: absolute;
    right: 30px;
    height: 55px;
    padding-right: 120px;
}
#branding-text {
    padding-top: 20px;
    font-size: 20px;
}
#branding-logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 105px;
    height: 50px;
    background: url("../images/wblogo.png") no-repeat right top;
}
@media screen and (max-width: 600px) {
#branding {
    display: none;
}
}
a#frontendtitel {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #ADB5C3;
}
a#frontendtitel:hover {
    color: #9fa8b8;
}
/* pagetopmenu & sidebararea_togglebutton */
#pagetopmenu {
    position: fixed;
    top: 72px;
    width: 100%;
    padding-left: 350px; /* leave left area free --> left side bar */
    background-color: #cbcfd8;
    border-bottom: 1px solid #46505f;
}
#pagetopmenu_menu {
    float: right;
}
#pagetopmenu ul li {
    float: left;
    margin: 0 1px 0 0;
}
#pagetopmenu ul li a {
    display: block;
    height: 40px;
    width: 70px;
    padding: 6px 18px;
    text-align: center;
    font-size: 26px;
    font-weight: normal;
    text-decoration: none;
    color: #323741;
    background-color: #bec3cd;
}
#pagetopmenu ul li a:hover {
    color: #cbcfd8;
    background-color: #28609B;
}
#pagetopmenu ul li.current a {
    color: #ffffff;
    background-color: #46505f;
}
#pagetopmenu ul li a:before {
    font-family: FontAwesome;
}
#pagetopmenu a#link_home:before {
    content: "";
}
#pagetopmenu a#link_back:before {
    content: "";
}
#pagetopmenu a#link_frontend:before {
    content: "";
}
#pagetopmenu a#link_logout:before {
    content: "";
}
#pagetopmenu a#sidebararea_togglebutton {
    display: block;
    height: 40px;
    width: 70px;
    padding: 6px 18px;
    text-align: center;
    font-size: 26px;
    font-weight: normal;
    text-decoration: none;
    color: #323741;
    background-color: #bec3cd;
    cursor: pointer;
    float: left;
}
#pagetopmenu a#sidebararea_togglebutton:before {
    font-family: FontAwesome;
    font-size: 26px;
    content: "";
}
#pagetopmenu a#sidebararea_togglebutton:hover {
    color: #cbcfd8;
    background-color: #28609B;
}
/* sidebararea */
#sidebararea {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    padding: 120px 16px 16px 16px;
    background-color: #46505f;
    color: #ffffff;
}
/* userbox: box with information about user */
#userbox {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 90px;
    background: #323741 url("../images/symb_user.png") no-repeat 20px 12px;
}
#userbox #user-introtext {
    font-size: 11px;
}
#userbox #user-name {
    display: block;
    padding-bottom: 12px;
    font-size: 20px;
}
#userbox a#user-button {
    position: absolute;
    right: 20px;
    bottom: 15px;
    padding: 0 5px;
    text-decoration: none;
    font-size: 11px;
    color: #ffffff;
    background-color: #28609B;
}
#userbox a#user-button:hover {
    background-color: #235387;
}
/* mainmenu */
#mainmenu {
    overflow: hidden;
    position: relative;
    top: 0;
    margin-right: -16px;
    margin-top: 36px;
    padding-left: 50px;
    font-size: 16px;
}
#mainmenu ul {
    position: relative;
}
#mainmenu ul li {
    border-top: 1px solid #3c4150;
}
#mainmenu ul li:hover {
    border-top: 1px solid #46505f;
}
#mainmenu ul li:first-child {
    border-top: none;
}
#mainmenu ul li a {
    display: block;
    position: relative;
    margin-right: -15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 80px;
    font-weight: normal;
    text-decoration: none;
    color: #cbcfd8;
    background-color: #323741;
}
#mainmenu ul li a:hover {
    color: #ffffff;
    background-color: #3c4150;
}
#mainmenu ul li a:before {
    font-family: FontAwesome;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 100%;
    padding-top: 12px;
    text-align: center;
    font-size: 26px;
}
#mainmenu ul li a:hover:before {
    background-color: #EE4E26;
    border-top: 1px solid #d13710;
    border-bottom: 1px solid #d13710;
}
#mainmenu ul li.current a {
    color: #ffffff;
    background-color: #3c4150;
}
#mainmenu ul li.current a:before {
    color: #ffffff;
    background-color: #4DB34E;
    border-bottom: 1px solid #45a246;
    border-top: none;
}
/* symbol pages */
#mainmenu ul li.pages a:before {
    content: "";
}
/* symbol media */
#mainmenu ul li.media a:before {
    content: "";
}
/* symbol addons */
#mainmenu ul li.addons a:before {
    content: "";
}
/* symbol (my personal login) settings = module preferences */
#mainmenu ul li.preferences a:before {
    content: "";
}
/* symbol options = module settings */
#mainmenu ul li.settings a:before {
    content: "";
}
/* symbol admin tools */
#mainmenu ul li.admintools a:before {
    content: "";
}
/* symbol users = module access */
#mainmenu ul li.access a:before {
    content: "";
}
/* systembox: box with information about WBCE */
#systeminfo {
    margin-top: 36px;
    font-size: 11px;
    text-align: right;
}
#systeminfo a {
    color: #ebebeb;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
}
#systeminfo a:hover {
    color: #e0e0e0;
    text-decoration: underline;
}
/* themeboxes */
.themebox {
    position: relative;
    margin-bottom: 24px !important;
    overflow: hidden;
    background-color: #505b6d;
    transition: 1s;
}
.themebox .tb_header {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
}
.themebox .tb_header a, .themebox .tb_header span.tb_icon {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.themebox .tb_header a:before, .themebox .tb_header span.tb_icon:before {
    font-family: FontAwesome;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    text-align: center;
    font-size: 70px;
    line-height: 74px;
    font-weight: normal;
    color: #cbcfd8;
    transition: 0.5s;
}
.themebox .tb_content {
    position: relative;
    min-height: 120px;
    margin-left: 120px;
    padding: 24px 32px 36px 16px;
    color: #ffffff;
}
.themebox .tb_content h1, .themebox .tb_content h2, .themebox .tb_content h3, .themebox .tb_content h4, .themebox .tb_content h5, .themebox .tb_content h6 {
    font-weight: normal;
    color: #ffffff;
}
.themebox .tb_content h1, .themebox .tb_content h2, .themebox .tb_content .tb_titel {
    font-size: 20px;
    line-height: 24px;
}
.themebox .tb_content a, .themebox .tb_content input[type='submit'] {
    display: inline-block;
    margin: 0 10px 7px 0;
    padding: 0 4px;
    font-weight: normal;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(203, 207, 216, 0.55);
}
.themebox .tb_content a:hover, .themebox .tb_content input[type='submit']:hover {
    background-color: rgba(203, 207, 216, 0.45);
}
.themebox .tb_content input[type='submit'] {
    padding: 4px 16px;
    background-color: rgba(203, 207, 216, 0.7);
}
.themebox .tb_content input[type='submit']:hover {
    background-color: rgba(203, 207, 216, 0.75);
}
.themebox .tb_content a.tb_titel {
    display: block;
    margin: 0 0 12px -4px;
    padding: 0 0 0 4px;
    background-color: transparent;
    color: #ffffff;
    transition: 2s;
}
.themebox .tb_content a.tb_titel:hover {
    background-color: rgba(203, 207, 216, 0.55);
}
.themebox .tb_footer {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
}
.themebox .tb_footer a, .themebox .tb_footer span.tb_icon {
    position: relative;
    display: block;
    color: #cbcfd8;
}
.themebox .tb_footer a:before, .themebox .tb_footer span.tb_icon:before {
    font-family: FontAwesome;
    display: block;
    content: "";
    font-weight: normal;
    font-size: 15px;
    transition: all 1s;
}
.themebox:hover {
    background-color: #3c4150;
}
.themebox:hover .tb_header a:before, .themebox:hover .tb_header span.tb_icon:before {
    transform: rotate(-12deg) scale(1.8);
    top: 5px;
    left: -35px;
    opacity: 0.4;
}
.themebox:hover .tb_footer a:before, .themebox:hover .tb_footer span.tb_icon:before {
    transform: scale(1.5);
}
/* color settings for themeboxes */
.themebox.green, .dashboard {
    background-color: #4DB34E;
}
.themebox.green .tb_header a:before, .dashboard .tb_header a:before, .themebox.green .tb_header span.tb_icon:before, .dashboard .tb_header span.tb_icon:before {
    color: #ffffff;
}
.themebox.green .tb_footer a:before, .dashboard .tb_footer a:before, .themebox.green .tb_footer span.tb_icon:before, .dashboard .tb_footer span.tb_icon:before {
    color: #ffffff;
}
.themebox.green div.dashboard_information, .dashboard div.dashboard_information {
    background-image: url("../images/preloader_green.gif");
}
.themebox.green:hover, .dashboard:hover {
    background-color: #45a246;
}
.themebox.green a.db_blocklink:hover, .dashboard a.db_blocklink:hover {
    background-color: rgba(203, 207, 216, 0.3);
}
.themebox.blue, div.themebox#module_media, div.themebox#addons_reload {
    background-color: #28609B;
}
.themebox.blue .tb_header a:before, div.themebox#module_media .tb_header a:before, div.themebox#addons_reload .tb_header a:before, .themebox.blue .tb_header span.tb_icon:before, div.themebox#module_media .tb_header span.tb_icon:before, div.themebox#addons_reload .tb_header span.tb_icon:before {
    color: #ffffff;
}
.themebox.blue .tb_footer a:before, div.themebox#module_media .tb_footer a:before, div.themebox#addons_reload .tb_footer a:before, .themebox.blue .tb_footer span.tb_icon:before, div.themebox#module_media .tb_footer span.tb_icon:before, div.themebox#addons_reload .tb_footer span.tb_icon:before {
    color: #ffffff;
}
.themebox.blue div.dashboard_information, div.themebox#module_media div.dashboard_information, div.themebox#addons_reload div.dashboard_information {
    background-image: url("../images/preloader_blue.gif");
}
.themebox.blue:hover, div.themebox#module_media:hover, div.themebox#addons_reload:hover {
    background-color: #235387;
}
.themebox.blue a.db_blocklink:hover, div.themebox#module_media a.db_blocklink:hover, div.themebox#addons_reload a.db_blocklink:hover {
    background-color: rgba(203, 207, 216, 0.2);
}
.themebox.red {
    background-color: #EE4E26;
}
.themebox.red .tb_header a:before, .themebox.red .tb_header span.tb_icon:before {
    color: #ffffff;
}
.themebox.red .tb_footer a:before, .themebox.red .tb_footer span.tb_icon:before {
    color: #ffffff;
}
.themebox.red div.dashboard_information {
    background-image: url("../images/preloader_red.gif");
}
.themebox.red:hover {
    background-color: #e83d12;
}
.themebox.red a.db_blocklink:hover {
    background-color: rgba(203, 207, 216, 0.1);
}
/* startpage themeboxe fix */
#page_start div.tb_content {
    min-height: 150px;
}
/* startpage dashboard themeboxe */
.extra_large {
    font-size: 62px;
}
.dashboard a.tb_titel {
    font-size: 30px !important;
    line-height: 48px !important;
}
.dashboard .dashboard_information {
    position: relative;
    min-height: 168px;
    background: url("../images/preloader_gray.gif") no-repeat 15% center;
}
.dashboard .dashboard_information table.positioning {
    margin-bottom: 0;
}
.dashboard .dashboard_information table.positioning td {
    vertical-align: bottom !important;
}
.dashboard .dashboard_information table.positioning td + td {
    text-align: right;
}
.dashboard .dashboard_information table.positioning tr:nth-child(2) td {
    padding-top: 24px;
}
.dashboard .dashboard_information a.db_blocklink {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: -16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 12px;
    color: #ffffff;
    background-color: transparent;
    transition: 2s;
}
.dashboard .dashboard_information a.db_blocklink:hover {
    background-color: rgba(203, 207, 216, 0.65);
}
.dashboard .dashboard_information .label_icon:before {
    font-family: FontAwesome;
    position: relative;
    font-size: 30px;
    line-height: 48px;
}
.dashboard .dashboard_information .label_icon.count_pages:before {
    content: "";
}
.dashboard .dashboard_information .label_icon.last_modified:before {
    content: "";
}
.dashboard:hover .tb_header a:before, .dashboard:hover .tb_header span.tb_icon:before {
    transform: rotate(0deg) scale(6) !important;
    top: 100px !important;
    left: 0 !important;
    opacity: 0.15 !important;
    transition: 1s !important;
}
.dashboard:hover .tb_content a.tb_titel:hover {
    background-color: transparent;
}
/* individual icons and colors for startpage themeboxes */
div.themebox#module_pages .tb_header a:before {
    content: "";
}
div.themebox#module_media .tb_header a:before {
    content: "";
}
div.themebox#module_addons .tb_header a:before {
    content: "";
}
div.themebox#module_preferences .tb_header a:before {
    content: "";
}
div.themebox#module_settings .tb_header a:before {
    content: "";
}
div.themebox#module_admintools .tb_header a:before, div.themebox.admintools_tool .tb_header a:before {
    content: "";
}
div.themebox#module_access .tb_header a:before {
    content: "";
}
div.themebox#addons_modules .tb_header a:before {
    content: "";
}
div.themebox#addons_templates .tb_header a:before {
    content: "";
}
div.themebox#addons_languages .tb_header a:before {
    content: "";
}
div.themebox#admin_users .tb_header a:before {
    content: "";
}
div.themebox#admin_groups .tb_header a:before {
    content: "";
}
/* Nice File Input */
.NFI-wrapper {
    margin: 1px 0;
}
.NFI-button {
    box-sizing: border-box !important;
    display: inline-block;
    padding: 4px 16px;
    font-weight: normal;
    text-decoration: none;
    color: #ffffff;
    background-color: #505b6d;
    border: none;
    border-right: 1px solid #ffffff;
}
.NFI-button:before {
    font-family: fontAwesome;
    content: "";
}
.NFI-button:hover {
    background-color: #46505f;
}
input.NFI-filename {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 7px 8px !important;
    background-color: #d9dde3;
}
input.NFI-filename:focus, input.NFI-filename:active {
    background-color: transparent;
}
/* PageTree */
.pages_list {
    margin: 4px !important;
    padding: 4px;
}
.addsite_insideborder {
    margin: 4px !important;
    padding: 4px;
}
.addsite_insideborder select, .addsite_insideborder input[type='text'] {
    width: 100% !important;
}
div.pages_list a, div.addsite_insideborder a {
    color: #46505f;
}
div.pages_list ul li {
    list-style-type: none;
    margin: 2px 0;
}
div.pages_list ul.list-inline {
    display: inline-block;
}
div.pages_list .list-inline li {
    float: left;
    margin: 0 5px;
}
div.pages_list table {
    width: 100%;
}
div.pages_list .toggle, div.pages_list .visibility, div.pages_list .modify, div.pages_list .btndesk, div.pages_list .btnup, div.pages_list .btndown, div.pages_list .btndel, div.pages_list .btnaddc {
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}
div.pages_list .btndesk, div.pages_list .btnup, div.pages_list .btndown, div.pages_list .btndel, div.pages_list .btnaddc {
    width: 40px;
}
div.pages_list .visibility, div.pages_list .id {
    width: 30px;
}
div.pages_list .modify {
    width: 90px;
}
div.pages_list .title {
    width: auto;
}
div.pages_list table tr {
    border-bottom: 3px solid transparent;
    background-color: #e8eaee;
    transition: 0.5s;
}
div.pages_list table tr:hover {
    background-color: #d9dde3;
    transition: 0.5s;
}
#pagesPage #pageListCard ul td.toggle {
    width: 30px;
    padding: 4px 8px;
}
#pagesPage #pageListCard ul ul td.toggle {
    width: 80px;
    padding-left: 40px;
}
#pagesPage #pageListCard ul ul ul td.toggle {
    width: 120px;
    padding-left: 80px;
}
#pagesPage #pageListCard ul ul ul ul td.toggle {
    width: 160px;
    padding-left: 120px;
}
#pagesPage #pageListCard ul ul ul ul ul td.toggle {
    width: 200px;
    padding-left: 160px;
}