@import url('font-awesome/css/font-awesome.min.css');
@import url(css/datetimepickers/xdsoft/jquery.datetimepicker.min.css);
@import url(css/datetimepickers/zebra/default/zebra_datepicker.min.css);
@import url(css/datetimepickers/nehakadam/DateTimePicker.min.css);
@import url(js/spectrum.css);

.mod_news_img table {
    width: 100%
}

.mod_news_img th,
.mod_news_img td {
    padding: 2px 5px;
    text-align: left;
}

.mod_news_img table.striped tr:nth-child(odd),
.mod_news_img_tag:nth-of-type(odd) {
    background-color: #ececec
}

.mod_news_img table.striped tr:nth-child(even) {
    background-color: #fff
}

.mod_news_img table img.preview {
    height: 50px;
    max-height: 50px;
}

.mod_news_img th {
    background-color: #ccc;
}

.mod_news_img div.scrollable {
    height: 300px;
    overflow: auto
}

.mod_news_img div.scrollable table th {
    position: sticky;
    top: 0
}

.mod_news_img input[type="submit"],
.mod_news_img input[type="button"] {
    width: 150px;
    padding: 5px;
    margin-top: 5px
}

.mod_news_img .mod_news_img_tag {
    padding: 0.2em 0;
}

.mod_news_img .mod_news_img_taglist {
    border: 1px solid #ececec;
    max-height: 100px;
    overflow-y: scroll;
}

.mod_news_img .dragdrop_handle {
    background-color: #ccc;
    background-image: url("images/dd_grip.gif");
    background-position: right center;
    cursor: move;
    padding: 0;
    width: 20px !important;
    border-style: solid;
    border-width: 2px 2px 3px;
    border-color: #cad2d9 #bac5ce
}

.mod_news_img .setting_name {
    vertical-align: top;
    width: 20%;
}

.mod_news_img .setting_value {
    vertical-align: top;
    width: 80%;
}

.mod_news_img .setting_value input[type="text"],
.mod_news_img .setting_value select {
    width: 98%
}

.mod_news_img .mod_news_img_arrow,
.mod_news_img .mod_news_img_icon {
    display: inline-block;
    min-width: 24px;
    overflow: hidden
}

.mod_news_img .resize_defaults {
    cursor: pointer;
}

.mod_news_img .mod_img_news_add,
.mod_news_img .mod_img_news_add_group,
.mod_news_img .mod_img_news_options,
.mod_news_img .mod_news_img_help {
    /* ? padding:0.25em 1em !important;
	margin-right:1em !important;*/
}

.mod_news_img .mod_img_news_add_group,
.mod_news_img .mod_img_news_options,
.mod_news_img .mod_news_img_help {
    float: right;
}

.mod_news_img .mod_news_post_tools {
    text-align: right;
    padding: 1em 0;
}

.mod_news_img .mod_news_post_tools input[type="submit"] {
    margin-left: 1em;
    padding: 0.2em 0.5em;
    min-height: auto;
}

/* 
  The definitions below provide the style for the edit CSS button 
  Required CSS class name: input.mod_moduledirectory_edit_css
*/
.mod_news_img input.mod_news_img_edit_css {

    padding: 2px;
    margin: -20px auto;
    float: right;
}

/* post images */
.mod_news_img .xbtooltip {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid grey;
    padding: 3px;
}

.mod_news_img .xbtooltip img {
    width: 200px;
}

.mod_news_img .img_list {
    width: 80px;
}

.mod_news_img .jsadmin_drag {
    cursor: move;
}

.mod_news_img .jsadmin_drag a,
.mod_news_img .jsadmin_drag input,
.mod_news_img .jsadmin_drag select {
    cursor: pointer;
}

/* item row hover onmouseover */
.mod_news_img tr.frow_hover {
    background-color: #f5f8dc
}

/*-----------------------------------------------------------*/
.mod_news_img #dragableResult {
    color: #000;
    font-size: 8px;
    font-family: Courier;
    background-color: #e0fbcf;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px 5px 5px 20%;
    border: dashed 1px #19861a
}

.mod_news_img #dragableTable ul {
    background-color: #fff;
    padding: 0 ! important
}

.mod_news_img #dragableTable ul li,
.mod_news_img #firstgroup {
    margin: 0 ! important;
    padding: 0 ! important;
}

.mod_news_img #dragableTable li,
.mod_news_img #firstgroup {
    list-style: none;
    margin-top: 3px;
    width: 100%;
    padding: 2px;
    color: #fff;
    border-bottom: 1px dotted #999999;
    background-color: #E0ECBE;
}

.mod_news_img #dragableTable li .sortgroup td,
.mod_news_img #firstgroup {
    background-color: #eee;
    font-size: 14px;
}

.mod_news_img #dragableTable li.sortgroup {
    margin-top: 10px;
}

.mod_news_img #dragableTable hr {
    line-height: 4px;
}

.mod_news_img .nwi-active {
    color: darkgreen !important;
}

.mod_news_img .nwi-inactive {
    color: firebrick !important;
}

.mod_news_img .nwi-disabled {
    color: #ccc !important;
}

.mod_news_img .nwi-disabled:hover {
    cursor: not-allowed;
}

.mod_news_img .nwi-delete {
    color: red !important;
}

.mod_news_img #fotos {
    float: left;
}

.mod_news_img #fotos input {
    margin: 2px;
}

.mod_news_img #fotoshow {}

.mod_news_img #fotoshow table {
    border: 1px solid grey;
    padding: 2px;
    border-spacing: 0;
    width: 48%;
    margin-left: 1%;
    margin-top: 1%;
    float: right;
}

.mod_news_img #fotoshow table tbody tr td {
    border-bottom: 1px solid grey;
    padding: 2px;
}

.mod_news_img #fotoshow table tbody tr:last-child td {
    border-bottom: 0
}

.mod_news_img a.btn {
    display: inline-block;
    width: 150px;
    background-color: #ccc;
    text-align: center;
    text-decoration: none;
}

.mod_news_img a.btn:hover {
    color: #c00;
}

/* ===== TABS ===== */
.mod_news_img .tabs {
    float: none;
    list-style: none;
    padding: 0;
}

.mod_news_img .tabs:after {
    content: '';
    display: table;
    clear: both;
}

.mod_news_img .tabs input[type=radio] {
    display: none;
}

.mod_news_img .tabs label.tab {
    display: block;
    float: left;
    width: 20%;
    color: #ccc;
    font-size: 1.3em;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    line-height: 1.3em;
    cursor: pointer;
    transition: all 0.5s;
    margin-right: 0 !important;
    padding: 5px;
    border: 1px solid #ccc;
    border-bottom-color: #3498db;
}

.mod_news_img .tabs label.tab i {
    padding: 5px;
    margin-right: 0;
}

.mod_news_img .tabs label.tab:hover {
    color: #3498db;
}

.mod_news_img .tab-content {
    display: none;
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.mod_news_img .tabs [id^="tab"]:checked+label.tab {
    color: #3498db;
    border-color: #3498db;
    border-bottom: 1px solid #F3F3F3;
    font-weight: 900;
}

.mod_news_img #tab1:checked~#tab-content1,
.mod_news_img #tab2:checked~#tab-content2,
.mod_news_img #tab3:checked~#tab-content3 {
    display: block;
}

@media (min-width: 768px) {
    .tabs i {
        padding: 5px;
        margin-right: 10px;
    }

    .tabs label.tab span {
        display: inline-block;
    }
}

/* Flat Theme colors */
div.container table#former_positioning_table div.mod_news_img .tabs label.tab {
    border-bottom-color: #505b6d
}

div.container table#former_positioning_table div.mod_news_img .tabs [id^="tab"]:checked+label.tab {
    border-color: #505b6d;
    color: #505b6d;
    border-bottom: 1px solid #F3F3F3;
}

div.container table#former_positioning_table div.mod_news_img .tabs label.tab:hover {
    color: #505b6d
}

/* BC 1.3 */
div#fc_content_container div#fc_main_content div.mod_news_img {
    padding: 15px
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}