#contentarea {
	max-width: 100%;
}

.adminModuleWrapper.legacy {
	/* fix for argos theme */
	padding: 0;
}

table#legacy,
table#former_positioning_table {
	table-layout: fixed;
}

div.logviewWrapper {
	overflow: scroll;
	background: #fff;
	max-height: calc(100vh - 320px);
	padding: 10px;
	width: 100%;
}

div.logline {
	padding: 1px 5px 1px 10px;
	/* font-family: monospace; */
	font-size: 11px;
	white-space: nowrap;
	letter-spacing: 1.1px;
	margin-bottom: 1px;
}

div.logline.even {
	background: #f3f3f3;
}

.lvlink a {
	color: #ff0000;
	text-decoration: none;
	background: #fff;
	padding: 3px 10px;
}

.lvlink {
	float: right;
	font-size: 14px;
	margin-right: 2px;
	margin-left: 10px;
}

.newline {
	background: #fff7e1 !important;
}

.color .lognotice {
	color: #333333;
}

.color .logerror {
	color: #EA2027;
	font-weight: bold;
}

.color .logwarning {
	color: #FF4400;
}

.color .logdeprecated {
	color: #C337F7;
}

.color .newline {
	background: #fff7e1 !important;
}

.errorlevel {
	background-color: #e84118;
	color: #fff;
	padding: 10px;
	margin-bottom: 10px;
}

.messagelevel {
	background-color: #40739e;
	color: #fff;
	padding: 10px;
	margin-bottom: 10px;
}