{% if more_header_links %}
<h4 style="margin-top:0;border-bottom:1px solid #DDD;padding-left:15px;">
    {{ more_header_links }}
</h4><br /><br />

[ <a href="{{ ADMIN_URL }}/admintools/tool.php?tool=droplets">&laquo; {{ TEXT.BACK|raw }}</a> ]<br /><br />
{% endif %}