<h2>{{ L_('DR_TEXT:HELP') }}</h2>
{{ content }}    
<p>&nbsp;</p>
<div class="cpForm">
    <div class="buttonsRow">
        <button class="button ico-back" type="button" data-redirect-location="{{ TOOL_URI }}">{{ L_('TEXT:BACK') }}</button>
    </div>
</div>