{{ insertCssFile( CURRENT_DIR ~ '/forms.css') }}

<h1>{{ L_('TOOL_TXT:HEADING_ERROR') }}</h1>
<div class="alert alert-warning">
    <p>{{ L_('TOOL_TXT:GENERIC_ERROR_MESSAGE') }}</p>
    <p>{{ L_('TOOL_TXT:CONTACT_ADMINISTRATOR') }}</p>
</div>