{{ insertCssFile( CURRENT_DIR ~ '/forms.css') }}

<h1>{{ L_('TEXT:SUCCESS') }}</h1>
<div class="alert alert-success">
    <p>{{ L_('TEXT:REGISTER_THANKYOU') }}</p>
    <p>{{ L_('TEXT:REGISTER_ACTIVATION_PENDING') }}</p>
</div>