html { overflow :-moz-scrollbars-vertical; /* Force firefox to always show room for a vertical scrollbar */ }
body,td,th,input,textarea { font-family :verdana,arial,helvetica,sans-serif; font-size :11px; color :#333333; }
body { background :url(images/background.jpg) #f9f9f9 0 0 repeat-x; margin :0; text-align :center; }
img { border :0px; }
#admin_header { text-align :center; width :900px; height :105px; margin :0 auto; padding :10px 0 0 0; }
#admin_header a#website_title { display :block; text-align :left; font-size :14px; font-weight :bold; color :#ffffff; text-transform :uppercase; text-decoration :none; }
#topmenu { float :right; text-align :right; color :#ffffff; }
#topmenu a { font-size :11px; color :#ffffff; text-decoration :underline; margin :0 5px; }
#topmenu .version { font-size :11px; color :#7cacda; padding :0 10px 0 0; }
#header_top { height :78px; }
h1 { text-align :left; font-size :15px; color :#ffffff; text-transform :uppercase; }
h2 { text-align :left; font-size :18px; color :#000000; margin :5px 0; font-family :arial,sans-serif; letter-spacing :-1px; font-weight :normal; }
h3 { text-align :left; font-size :14px; color :#000000; margin :5px 0; }
a:link, a:visited, a:active { color :#28609b; text-decoration :none; }
a:hover { text-decoration :underline; color :#28609b; }
.menu { margin :0 auto; padding :0; text-align :center; width :900px; }
.menu ul { list-style-type :none; margin :0; padding :0; }
.menu li { display :inline; margin :0 2px 0 0; padding :0; font-weight :bold; border-bottom :3px solid #c9c9c9; }
.menu a { float :left; color :#ffffff !important; background :url(images/tabl.jpg) #28609b no-repeat left top; margin :0 5px 0 0; padding :0 0 0 3px; text-decoration :none; border-bottom :3px solid #cacaca; }
.menu a span { display :block; background :url(images/tabr.jpg) #28609b no-repeat right top; padding :6px 9px 6px 6px; }
.menu a:hover, .menu a:hover span { background-color :#28609b; text-decoration :none; }
.menu .current a, .menu a:hover { border-bottom :3px solid #d25e59; }
#content_container { text-align :center; width :900px; clear :both; margin :0 auto; }
.content { margin :0; padding :20px 0; width :900px; text-align :left; vertical-align :top; }
hr { margin :15px 0; color :#003366; height :1px; }
.hide { display :none; }
.note { color :#666666; font-size :11px; }
.center { text-align :center; }
form { margin :0; }
label { cursor :pointer; }
input:focus, select:focus, textarea:focus { background :#f1f8fd; }
/* WB2.8 STYLES */
.img_noborder img { border :0; }
iframe { border :1px solid #35373a; }
div.box { font-size :11px; width :100%; text-align :right; margin :-10px 0 0 0; }
.section { margin-top :10px; padding :0; border :1px solid #999999; height :75px; width :100%; background-color :#fdfdfd; }
.graphic { width :50px; height :50px; border :4px solid #fdfdfd; padding-left :3px; }
.graphic img { vertical-align :middle; background-color :#ffffff; padding :4px; border :1px solid #d0d0d0; }
.title { text-align :left; padding :4px 5px 0px 3px; font-weight :bold; font-size :14px; margin-bottom :5px; }
span.title { display :block; }
.description { text-align :left; padding :4px 0px 0 0px; }
.note { color :#666666; font-size :11px; }
.bold { font-weight :bold; }
.submit, .cancel { width :100px; margin-top :5px; }
.form_submit { width :100%; }
.form_submit .left { text-align :left; }
.form_submit .right { text-align :right; }
.input_small { width :20px; }
.input_narrow { width :100px; }
.input_normal { width :120px; }
.input_medium { width :150px; }
.input_wide { width :200px; }
.input_large { width :300px; }
.input_full { width :100%; }
select option.disabled { color :#aaaaaa; }
.jsadmin_drag img { margin-top :2px; vertical-align :top; cursor :pointer; }
.jsadmin_drag img:hover { }
.modify_link { padding :4px 0 0 7px; }
.settings_table td { vertical-align :top; text-align :left; padding :5px; }
.setting_name { width :10%; min-width :180px; }
.setting_value { width :90%; }
.setting_value_permissions { width :50%; min-width :400px; }
.setting_value input, .setting_value select, .setting_value textarea { width :100%; }
.setting_value textarea { height :50px; }
#admintools ul { padding :0; margin :0; }
#admintools li { list-style-type :none; display :inline; float :left; width :48%; margin :0 10px 0 0; }
.value_input input, .value_input text, .value_input select { width :100%; }
#file_mode input, #dir_mode input { width :12px; height :12px; }
#hide2 { display :none; }
.pages_list { font-weight :bold; margin :10px auto; }
.pages_list .icon_col td img { display :block; border-style :none; float :left; padding-right :7px; }
.pages_list table { width :900px; }
.pages_list ul { margin :0; font-weight :normal; padding :0; }
.pages_list ul li { list-style-type :none; margin :2px 0; }
table.pages_view { width :900px; }
table.pages_view tr, tr.sectionrow { background :#f0f0f0; line-height :2.2em; }
table.pages_view tr:hover, tr.sectionrow:hover { background :#eaeff6; }
tr.sectionrow { padding :0 10px; }
tr.sectionrow td { border-top :3px solid #f9f9f9; }
.page_list { display :none; }
.page_list_show li { display :block; }
img.page_list_rights { border :none; float :left; margin :0; vertical-align :middle; padding :2px; }
.sections_list { font-weight :bold; padding-left :10px; }
.sections_list table { width :900px; }
.header_list_type { text-align :left; }
.header_list_block { text-align :left; width :180px; }
.header_list_pubdate_start { text-align :left; width :200px; }
.header_list_pubdate_end { text-align :left; width :200px; }
.header_list_sections_actions { text-align :left; width :30px; }
.header_list_section_id { width :30px; text-align :right; }
.list_section_id { width :30px; text-align :right; }
.list_pubdate_start { text-align :left; width :200px; }
.list_pubdate_end { text-align :left; width :200px; }
.header_list_menu_title { text-align :left; padding-left :30px; }
.header_list_page_title { width :334px; text-align :left; }
.header_list_page_id { width :30px; text-align :left; }
.header_list_actions { width :178px; text-align :left; }
.list_menu_title { text-align :left; }
.list_page_title { width :300px; text-align :left; }
.list_page_id { width :50px; text-align :right; padding-right :15px; }
.list_actions { width :25px; text-align :left; }
.value_page_code { color :#006400; font-weight :bold; width :240px; }
.list_page_code { width :240px; }
.list_page_language { width :240px; }
#multi_lingual { font-weight :bold; }
.right{ text-align :right; }
.left{ text-align :left; }
/* set div layers in dead tables */
.subcolumns { width :100%; overflow :hidden; margin :10px 0; }
.subcolumns_oldgecko { width :100%; float :left; margin :10px 0; }
.c10l, .c20l, .c25l, .c33l, .c40l, .c38l, .c50l, .c60l, .c62l, .c66l, .c75l, .c80l { float :left; }
.c10r, .c20r, .c25r, .c33r, .c40r, .c38r, .c50r, .c60r, .c66r, .c62r, .c75r, .c80r { float :right; margin-left :-5px; }
.c10l, .c10r { width :10%; }
.c20l, .c20r { width :20%; line-height :2em; }
.c40l, .c40r { width :40%; }
.c60l, .c60r { width :60%; height :2em; }
.c25l, .c25r { width :28%; }
.c33l, .c33r { width :33.333%; }
.c50l, .c50r { width :50%; }
.c66l, .c66r { width :66.666%; }
.c38l, .c38r { width :38.2%; }
.c62l, .c62r { width :61.8%; }
.subc { padding :0 0.5em; }
.subcl { padding :0 1em 0 0; }
.subcr { padding :0 0 0 1em; }
.c80l, .c80r, .c90l, .c90r { width :80%; }
.c75l, .c75r, .c80l, .c80r { width :75%; }
.info { padding :10px; margin-bottom :0.5em; background :#f8f8f8; color :#666666; font-size :11px; }
.note { border :2px #448844 solid; padding :10px; margin :10px auto; background :#eeffee; color :#004400; }
.important { border :2px #888844 solid; padding :10px; margin-bottom :1em; background :#ffffee; color :#444400; }
.warning { border :2px #884444 solid; padding :10px; margin :1em auto; background :#ffeeee; color :#440000; }
.row_0 { background-color :transparent; }
.row_1 { background-color :#ccddee; }
div.content_box { margin :0em auto; }
div.content_box form { width :98%; }
#language,
#timezone,
#date_format,
#time_format,
#display_name,
#username,
#email,
#new_password_1,
#new_password_2,
#current_password { width :118%; }
#submit,
#reset { max-width :100px; }
div#username { height :17px; width :118%; text-align :left; font-weight :bold; margin :0; }
.save_section { margin :20px auto 5px auto; }
.section-info { margin :1.5em 0; }
.rounded { border-radius :10px; -khtml-border-radius :10px; -webkit-border-radius :10px; -moz-border-radius :10px; }
.bigger { font-size :150%; }
.strong { font-weight :bold; }
.msg-box { background :#e5ffe6; border :0.2em #009900 solid; color :#336600; margin-bottom :1em; padding :0.63em; text-align :center; }
.error-box { background :#ffeeee; border :0.2em #884444 solid; color :#440000; margin-bottom :1em; padding :0.63em; text-align :center; }
.msg-box p,
.error-box p { font-size :120%; }
select > option.user-inactive { color :#990000; }
button.status { cursor :pointer; border-radius :5px; -khtml-border-radius :5px; -webkit-border-radius :5px; -moz-border-radius :5px; }
