/*** fixes for 3rd-party modules **************************************/
:root {
    --text-dim: #6b7280;
    --warning:  #f3b54c;
    --success:  #6cbe69;
    --border:   #d2e1e6;
    --r:        0px;
    --muted:    #f5faff;
    --accent:   #7488a5;
    --accent-s: #1e4f80;
    --font-mono: 'Proggy', 'JetBrains', 'DejaVue', "Liberation Mono", monospace;
}
/* give forms some horizontal padding */
form {
    padding: 0 2%;
}

/* and reset the padding if inside a content-box */
.content-box form {
    padding: 0;
}

/* other styling for h2 inside a content-box */
.content-box h2 {
    background-color: transparent;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

/* hide the obsolete back-button in admin-tools */
input#admin_tools {
    display: none;
}

/* hide evtl. headlines in the content-box ****************************/
.adminModuleWrapper h2:first-of-type {
    display: none;
}

/* let the h4 header looks like a h2 **********************************/
.adminModuleHeader {
    text-align: left;
    font-size: 16px;
    color: #333;
    background-color: #cfcfcf;
    padding: 5px;
    font-weight: normal;
    margin: 10px 2% 0 2%;
}

/* padding for the elements inside the content-box */
.adminModuleWrapper.legacy {
    padding: 0 1%;
}

.pageModuleWrapper.legacy {
    padding: 10px 2% 0 2%;
}

/* line height in backup */
.backup input[type="radio"] {
    margin-bottom: 10px;
}

.form_submit {
    width: 99%;
}

/* textarea width for code2 module */
.CodeMirror {
    width: 100% !important;
    margin-top: 12px;
    margin-bottom: 6px;
}

/* ! some more styling is done in /jquery/module-fixes.js ! */


/*
 link-cards-grid
 Introduced in 1.7.0
*/
.link-cards-grid {
    gap: 10px;
    font-size: .8rem;
}
.link-card {
    background: #5b6678;
    color: #fff;
    padding: 0px;
    transition: 0.1s;    
    background: #fefefe;
    color: #222;
    border: 1px solid #666;  
    gap: .2rem;
}
.link-card:hover .link-card__icon {    
    color: var(--blue-5);
}
.link-card__title {
    color: rgb(40, 96, 155);
    font-size: 0.8rem;
    font-weight: 600;
    margin: 12px 0px 0px;
}
.link-card__meta {
    font-size: 12px;
    font-style: italic;
    color: rgb(133, 154, 178);
    margin: 2px 0px 10px;
}
.link-card__desc {
    margin: 10px 0;
    color: rgb(102, 102, 102);
}
.link-card__icon {
    width: 85px;
    min-width: 85px;
    font-size: 2.5em;
    color: rgb(102, 102, 102);
}
.link-card__content {
    flex: 1;
    padding-right: 20px;
}