/*** fixes for 3rd-party modules **************************************/
/* give forms some horizontal padding */
form { padding: 0 2%; }
/* and reset the padding if inside a content-box */
.content-box form { padding: 0; }

/* other styling for h2 inside a content-box */
.content-box h2 {
	background-color: transparent;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

/* hide the obsolete back-button in admin-tools */
input#admin_tools {
	display: none;
}
/* hide evtl. headlines in the content-box ****************************/
.adminModuleWrapper h2:first-of-type {
	display: none;
}
/* let the h4 header looks like a h2 **********************************/
.adminModuleHeader {
    text-align: left;
    font-size: 16px;
    color: #333;
    background-color: #cfcfcf;
    padding: 5px;
    font-weight: normal;
    margin: 10px 2% 0 2%;
}
/* padding for the elements inside the content-box */
.adminModuleWrapper.legacy {
	padding: 0 1%;
}
.pageModuleWrapper.legacy {
	padding: 10px 2% 0 2%;
}
/* line height in backup */
.backup input[type="radio"] {
	margin-bottom: 10px;
}
/* ! some more styling is done in /jquery/module-fixes.js ! */
