ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.setting_name {
    vertical-align: top;
}
.newsection {
    border-top: 1px dashed #fff;
}
thead {
    font-weight: bold;
    background-color: #c7d1db !important;
    height: 25px;
}
.row_om_out {
    background: #ecf4f5;
    border: outset 1px #a5b3b4;
}
.row_om_over {
    background: #ffffe0;
    border: outset 1px #679b38;
}
a.tooltip span {
    display: none;
    margin-left: 14px;
    width: 430px;
}
a.tooltip:hover span {
    display: inline;
    position: absolute;
    padding: 5px;
    border: 1px solid #000000;
    background: #ffffff;
    color: #000000;
}
.button {
    border: outset 1px #315e8d;
    padding: 5px;
    width: 15em;
}
div.drok, div.drfail {
    border: solid 1px #006600;
    color: #006600;
    font-weight: bold;
    padding: 5px;
}
div.drfail {
    border: solid 1px #f00;
    color: #f00;
}
table.droplets {
    width: 100%;
}
table.droplets th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    padding: 4px;
    font-size: 12px;
    font-weight: 900;
}
table.droplets .newdroplet {
    background-color: #e6eeee !important;
}
table.droplets tr.odd td {
    background-color: #fff !important;
}
table.droplets tr.even td {
    background-color: #e6eeee !important;
}
table.tablesorter {
    background-color: #CDCDCD;
    margin: 10px 0 15px;
    width: 100%;
    text-align: left;
    font-size: 12px;
}
table thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6eeee;
    border: 1px solid #fff;
    padding: 4px;
    font-size: 12px;
}
.sorter-false {
    pointer-events: none;
}
.tablesorter-headerUnSorted {
    background: transparent url(img/bg.gif) center right no-repeat;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
    font-size: 13px;
}
.tablesorter-headerAsc {
    background: transparent url(img/asc.gif) center right no-repeat;
}
.tablesorter-headerDesc {
    background: transparent url(img/desc.gif) center right no-repeat;
}
/* fixes for Flat Theme */
a.tooltip:hover span {
    z-index: 2147483647;
}
.alertbox {
    width: 94%;
}