/* ==== Google font ==== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url(colorset/colorset.php);

body { 
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 15px;
	line-height:140%;
	color:#000;
	color:#808080;
}


/* colors */ 
h1, h2, a { color: #6192bb;  text-shadow: 0px 1px 8px rgba(0,0,0,0.3);}
h3, h4, h5, h6 { color: #35a7ff;  text-shadow: 0px 1px 5px #aaa;}

a:hover {color: #35a7ff; text-shadow: 0px 3px 3px rgba(0,0,0,0.5);	transition:0.5s all;} 

#nav a{ color: #6192bb;  text-shadow: 0px 1px 8px #ccc;}
#nav a.menu-current, #nav a.menu-parent, #nav a:hover { color: #35a7ff ! important;  text-shadow: 0px 1px 8px rgba(0,0,0,0.5);}



/* basics */ 
area, usemap, a img  {border:0;}
a { text-decoration: none; 	transition:0.5s all;}
p img {max-width:100% ! important; height:auto;}

/*sizes and margins */
h1, h2, h3, h4 { margin: 15px 0 2px 0; }
h5, h6 { margin: 0 0 0 0; }

p {line-height:150%; margin: 5px 0 2px 0;}

h1 { font-size: 36px; line-height:90%; font-weight:300; } 
h2 { font-size: 24px;  font-weight:400;} 
h3 { font-size: 16px; } 
h4 { } 
h5 { font-size: 12px; }
h6 { font-size: 11px; }


hr{
	border: none; border-bottom:dotted #ccc 1px;
	clear:both;
	padding-top: 5px;
}


li {	
	padding-bottom: 4px;		
} 

ul {	
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 0.7em;
	padding-left: 0.7em;
	list-style-type: square	
}



ol {	
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 0.9em;
	padding-left: 0.9em;		
}


address {
	line-height:120%;
	margin: 10px 0 20px 0;
	padding-left: 10px;
	border-left: 6px solid #327893;
	font-style: normal;
	font-weight: bold;
	}


blockquote {	
	padding: 10px;
	margin: 0 0 20px 0;
}

pre, code {
	padding: 5px 0 10px 6px;
	margin: 3px 0 20px 0;	
	font-size:1em;	
	overflow:auto; 
	line-height:1.5em;
	color:#fff;		
}


tbody td p, tbody td h1, tbody td h2, tbody td h3, tbody td h4 {}

input , select, textarea, pre, code, blockquote {
	border: 1px solid #194381; background: #eee; color: #194381;
}
input[type="text"], input[type="submit"], input[type="file"], select,textarea { width:96%; padding: 3px 1%; margin-bottom:5px;}
input[type="image"] {border:none; background: transparent;}


/*=======================================================================================*/	

/* Standards */

/* Specials */
p img[align="right"], h3 img[align="right"] {float:right; max-width:49%; margin: 3px 0 2px 0.5%; height:auto;}
p img[align="left"], h3 img[align="left"] {float:left; max-width:49%; margin: 3px 1% 2px 0; height:auto;}


.teaserbutton {
    display: block; clear:both; padding: 2px 10px 5px 10px;  margin: 10px 10px 10px auto;  text-align: center;  border: 2px solid #ccc;  border-radius: 1.2em; transition: 0.8s all;
	background: rgba(200, 200, 200, 0.5);
}

.teaserbutton:hover {
	background: rgba(30, 123, 0, 0.5); color: #fff;  border-radius: 0.5em;  
}

.responsiveVideo, .flex-video {
   position: relative; padding-bottom: 56.25%; padding-top: 30px;  height: 0; overflow: hidden;
}

.responsiveVideo iframe, .flex-video iframe, .responsiveVideo object, .flex-video object, .responsiveVideo embed, .flex-video embed  {
   position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}



editlink {}


table {
	border-collapse:collapse;
	border: none;
}
table td {vertical-align: top; }


table.table {
	clear:both;	
	border-collapse:collapse;
	border: none;	
	border-top: 1px solid #ccc;
	margin: 20px 0 5px 0;
	width:100%;
	font: 0.85em;	
}

table.table caption {font-size:1.1em; text-align:left; }
table.table th {font-size:0.9em; padding: 4px; text-align:left; vertical-align: top;  background: rgba(100, 100, 100, 0.1);  border: none; border-bottom: 1px solid #ccc;}
table.table tbody td {font-size:0.9em; padding: 4px; vertical-align: top;  border: none; border-bottom: 1px solid #ccc;}
table.table tbody tr:hover td {}
table.table tbody td p, table.table tbody td h1, table.table tbody td h2, table.table tbody td h3, table.table tbody td h4 {}



img.picfull {width:100%; height:auto;}
img.pic2left {float:left; width:49%; margin: 3px 1% 2px 0; height:auto;}
img.pic2right {float:right; width:49%; margin: 3px 0 2px 0.5%; height:auto;}

img.pic3left {float:left; width:32%; margin: 3px 1.5% 2px 0; height:auto;}
img.pic3right {float:right; width:32%; margin: 3px 0 2px 0.3%; height:auto;}

img.pic4left {float:left; width:24%; margin: 3px 1% 2px 0; height:auto;}
img.pic4right {float:right; width:24%; margin: 3px 0 2px 0.5%; height:auto;}


/*Show and Hide Responsive*/
.hideOnDesktops {display: none;}
body .showOnDesktops {display: block;}	

	
.visibletest div {background-color:green; text-align:center;}


/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
	img.pic2left, img.pic2right {width: 100%;  margin: 3px 0 2px 0;}
	img.pic3left, img.pic3right, img.pic4left, img.pic4right  {width: 49%;}
	
	/*Show and Hide Responsive*/
	body .hideOnTablets {display: none;}
	.hideOnDesktops {display: block;}
	body div .showOnTablets {display: block;}
	
	

}

/* Small devices (Smartphone, up to <440px) */
@media (max-width: 440px) {
	img.pic2left, img.pic2right {width: 100%;  margin: 3px 0 2px 0;}
	img.pic3left, img.pic3right, img.pic4left, img.pic4right  {width: 49%;}
	
	/*Show and Hide Responsive*/
	.hideOnMobiles {display: none;}
	body .hideOnTablets {display: block;}
	body .hideOnDesktops {display: block;}
	body div .showOnMobiles {display: block;}

}
