/* Top Elements */
* { margin: 0; padding: 0;}

body, html {	
	color: #000;	
	margin: 0;	
	background: #f7f7f7 url(img/body-bg.jpg) repeat-x fixed;
	height:100%;
}


.mainwrapper {
	width:100%;	
	max-width: 1200px;
	
	min-height:70%;
	margin: 0 auto 0 auto;
	background: transparent url(img/mainwrapper.gif) repeat-y;
	background-size: 100% 10px;
	position:relative;
	box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1);
}


#leftbox {margin:0 0 0 0; float:left; width: 20%; min-height: 400px; background: #e8e8e8;}
#leftbox a { text-shadow: 0px 1px 8px #ccc;}
#leftbox .logo img {margin:20px 0 30px 5%; max-width:90%;}



/*Main Blocks*/
.mainbox { float:left; width: 80%; }
.contentbox {padding-top:30px; }
.contentbox, .widetop, .widebottom {width:100%; clear:both; min-height:100px; }
.contentnarrow { float:left; width: 66.8%; }

.sidebar { float:right; width: 33%; font-size:0.92em; }

.footer {width: 100%; margin: 0 ;  }

/*iinenabstaende: */
.contentbox .contentinner {margin: 0 20px 20px 20px ; }
.sidebar .contentinner {margin: 0 5% 20px 5% ; ;}
.widetop .contentinner {}
.widebottom .contentinner {}
.footer .contentinner  {width: 62%; margin: 0 0 20px 20px ; padding-top: 10px; border-top: 1px solid #ddd; }




/*Notbremse fuer responsive Bilder: maximal 100% Breite*/
.mainbox p img {max-width:100%; height: auto ! important; }


.clearer {height: 5px; clear:both; }
#gototopswitch {float:right; margin: 20px 10px 0 0;}







#mobiletop {display:none; padding: 10px 0 10px 0; background: #fff; height:60px;}
#mobiletop a#menuswitch {display:block; float:right; max-width:5%;  margin: 0 0 0 0 ; padding: 10px 20px 0 0 ;}
#mobiletop a#menuswitch img {max-width:100%; }

#mobiletop .mobilelogo img { float:left; max-width:75%; margin-left:5%; max-height:100%;}


#menucheck {width:100%; height:1px; display:block;}


.sliderbox { height: 330px;	color: #ddd; margin:0 0 0 0;}
.slider { overflow:hidden; height: 100%;}

#static_headerbox {float:left;}
#static_headerbox img {width:100%; height: auto ! important; float:left;}




.menubox{
	width:100%;
	min-height:400px;
}



/*menu */
#nav {width :100%; margin-top:-1px;}

#nav ul { /* all lists */	
	padding: 0;
	margin: 0;
	list-style-image: none;
	list-style-type: none;
	padding-bottom: 5px;
	
}


#nav li { /* all list items */
	position : relative;		
	display:block; 
	float:left;
	width:100%;
	list-style-image: none;
	list-style-type: none;	
	font-size : 14px;
	font-weight : bold;
	padding-bottom: 0;		
}
	
/*Level 1 and more*/
#nav a {			
	display : block;	
	text-decoration : none;
	border-bottom : 1px solid #ccc;
	padding: 5px 0 5px 20px;		
}

#nav li a.menu-current, #nav li a.menu-parent {background-color:#fff;}
#nav li li a.menu-current, #nav li li a.menu-parent {background:none; font-weight:bold}

#nav  a:hover ul li {z-index: 1000;}
#nav  a.menu-expand { background: url(img/haschild.png) no-repeat 2px 8px;}
#nav  a.menu-expand.isopened { background:url(img/isclicked.png) no-repeat 2px 8px;}



/* second-level lists */
#nav li ul { 
	width: 200px; 
	height: auto;
	position : absolute;
	margin:-40px 0 0 120px;
	padding-top:10px;
	background: #e9e9e9;
	z-index:800;
	/*zoom:1.0;*/
	border-radius: 10px;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);	
	
	
}

	
#nav li li { 
		width: 100%;
		height:auto; 
		z-index: 5000;
		float : left;				
}

#nav li li a { /* second-level lists */
	padding: 8px 12px 8px 18px; 
	margin: 0 5px;
	line-height : 110%; 
	font-weight : normal;
	border-top: 1px solid #999 ;
	border-bottom: none ;
	background-image: none;	
}

#nav li li:first-child  a{ /* second-level lists */
	border-top: none ;		
}





/* third-and-above-level lists */
#nav li ul ul { 
	margin:-40px 0 0 195px;
	background: #e9e9e9;
}


/* Show/Hide */
#nav li ul, #nav li ul ul, #nav li ul ul ul, #nav li:hover ul, #nav li:hover ul ul, #nav li:hover ul ul ul {
	left:-9999px;
	opacity:0.1;
	transition: 0.5s opacity, 0s left;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.isopened ul, #nav li.tabselected ul { 
	left:0;
	opacity:1;
	transition:0.5s opacity, 0s left;
}

#nav li ul a {padding-top:0; padding-bottom:0; transition:0.9s padding; }
#nav li:hover ul a, #nav li.tabselected ul a  {padding-top:8px; padding-bottom:8px; transition:0.1s padding; }






/*Search Box */
#search_box { clear:both; padding: 5px 0 5px 18px; border-bottom : 1px solid #ccc;}
#search_box .searchstring { 
	color:#555;		
	padding:2px;
	border: 1px solid #999;
	background-color: #f7f7f7;
	width:60%;
}
#search_box .submitbutton {
	padding: 0 0 0 10px;
	vertical-align: middle;
}



/* Login Box */
#showlogin {display:block; float:left; position:relative;  width:30px; text-align:left; margin:6px 6px 0 15px; }
#login-box {position:absolute; width:180px; left:20px; top:0; padding:5px; font-size:11px; }
#login-box .loginsubmit {border:0; margin:10px 10px 0 0}
#login-box .inputfield {width:80px; border: 1px solid #c9e8f9; padding:1px;}


a.template_edit_link{display: block; clear:both; margin: 40px 0 0 12px; width:16px; height:16px; background: transparent url(img/edit.gif) no-repeat; text-decoration:none;}



table.frm-field_table td {font-size:0.9em; padding: 8px 2px; vertical-align: top; border-bottom: 1px solid #eee;}



/*Extra cookie_permission */
#cookie_permission {position:fixed; top:0; right:0; z-index:9950; width: 200px; padding:10px; background: #555; text-align:center; font-size: 0.9em; line-height:120%; border-radius: 0 0 0 25px; box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2); }
#cookie_permission p , #cookie_permission a {color:#fff;}
#cookie_permission a.cookieaccepted {color:#000; background: #eeb300; display:block; padding:5px; border-radius: 15px; border: 1px solid #fff; font-weight:bold;}




/*Extra Colorpicker */
#colorpickericon {display:block; width:48px; height:48px; background: url(img/colorpicker.png) no-repeat; z-index:5000; position: absolute; top:200px; right:0; cursor:pointer;}
#colorpicker {display:none; width:90px; background: #ddd; position: absolute; top:100px; right:0; z-index:5000; font-size:12px;line-height:100%; box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1);}
.pickerfield {width:100%; height:40px; float:left;}

.pickerfield input[type="color"] {width:100%; height:20px; padding:0; border:0; cursor:pointer;}
.pickerfield input[type="text"] {width:90%; height:20px; padding:1px 3%; border: 1px solid #999;; cursor:text;}


a.colpick-button {display:block; clear:both; width:80%; margin:10px auto; padding:3px; background: rgba(255,255,255,0.2); text-align:center; border: 1px solid #666; border-radius: 15px;  cursor:pointer;}
#colorpicker-info {display:none; position: absolute; width:160px; padding:10px; top:0; left:-180px; background: #eee; box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1);}





/* ======================================================================
Smaller Screens */
@media screen and (max-width: 960px) {
	body, html { background-image: none; background-color:#e9e9e9;		}

	.mainwrapper {
		background-image: none; 
		background-color: #fff; 		
	}
	
	#mobiletop {display:block;}
	
	#leftbox {display:none; position: absolute; top:0; left: 0; z-index:500; float:none; width:220px; margin: 0 0 0 0; box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.3); }
	#leftbox .menubox {height:auto; min-height:200px; padding-bottom:40px;}	
	#leftbox .logo {display:none;}
	
	#leftbox.active {left: 0;}
	
	
	.mainbox {width: 100%; }
	.sliderbox { height:auto;}
	.sliderbox  .flexslider {margin:0 0 0 0;}
	.sliderbox  .flex-direction-nav {display:none;}
	
	#menucheck {display:none;}

	#nav li a {padding: 10px 0 10px 20px; font-size:16px;}
	#nav li li a  {padding: 10px 0 10px 20px;  }
	#nav li ul ul { /* third-and-above-level lists */
		display: block ! important;
		position:static;
		margin:0 0 0 0;
		padding: 0 0 0 0 ;
		opacity:0.8 ! important;
		box-shadow:none;
	}


	#nav li li a  { padding-top: 10px ! important; padding-bottom: 12px ! important; font-size:14px;}
	#nav li li li a  {font-size:13px; padding-left: 30px;}
	#nav li li li  li a  { font-size:12px; padding-left: 40px;}
	
	#nav li a.menu-expand { background-position: 4px 12px;}
	#nav li a.menu-expand.isopened { background-image:url(img/isclicked.png); background-repeat: no-repeat; background-position: 4px 12px;}
	#nav li li a.menu-expand { background-image:url(img/isclicked.png);  background-repeat: no-repeat; background-position: 4px 12px;}

	li.isopened ul {display:block ! important;}
	
	
	/*Korrekturen*/
	table {max-width:98% ! important; width:98% ! important; }	
	td.frm-field_title {white-space: normal;}
	
	
}

/* ======================================================================
Smaller Screens */
@media screen and (max-width: 540px) {
	
	
	.mainwrapper { background-image: none;  }
	
	.mainbox, .contentbox, .widetop, .widebottom, .sidebar, .contentnarrow {float:none; width: 100%; }
	
	
	table.responsivetable td {display:block; width:100% ! important; height: auto;}
	
	

	/*iinenabstaende: */
	.contentbox .contentinner {margin: 0 2% 20px 2% ; }
	.widetop .contentinner {}
	.widebottom .contentinner {}
	.footer .contentinner {width: 90%; }
	

	

}

/* ======================================================================
Reset */
@media screen and (min-width: 961px) {
	.mainwrapper div#leftbox {display:block ! important;}
}