body { font-family: Arial, Verdana, sans-serif; font-size: 12px; color: #000; background-color: #fff; }
html { overflow-y: scroll }
img:-moz-broken { -moz-force-broken-image-icon : 1; width : 24px; height : 24px; }
img, input, textarea { cursor: default; }
.indent1 { margin-left: 40px; }
.indent2 { margin-left: 80px; }
.indent3 { margin-left: 120px; }
.indent4 { margin-left: 160px; }
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.justify { text-align: justify; }
.ibimage_left { float: left; }
.ibimage_right { float: right; }
td { white-space : normal; }
blockquote { font-style: italic; font-family: Georgia, Times, "Times New Roman", serif; padding: 2px 0 2px 10px; border-left-style: solid; border-color: #000; border-width: 3px; }