@import url("../wbstats/js/tip-twitter.css"); 
.wbstats_sysmenu {
    border-bottom: 3px solid #EEEEEE;
    clear: both;
    height: 23px;
    margin: 1px 25px 0 10px;
    padding: 0;
}
.wbstats_sysmenu a {
	background-color: #28609B;
	height:15px;
	padding: 5px !important; 
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	display:inline-block;
}
.wbstats_sysmenu a#current,.wbstats_sysmenu a:hover {
	background-color: #D25E59;
	text-decoration: none;
	color: #fff;
}


#wbstats_container {
	position:relative;
	margin: 10px auto;
	color:#222;
	width: 902px;
	width: 100%;
	
}
#wbstats_container h3 {
	background-color:#28609B;
	color:#FFFFFF;
	padding:5px;
	margin:0px;
	margin-bottom:10px;
	font-size:1.4em;
}

#wbstats_container h3 span{
	position:absolute;
	right:20px;
}
#container h3 span a{
	text-decoration:none;
	color:#FFFFFF;
	font-size:1em;
}

#wbstats_container td h4 {
	background-color:#6699cc;
	color:#fff;
	padding:1px 5px;
	margin:0px;
	font-size:14px;
	font-weight: bold;
}


#wbstats_container td, #container th {
	font-size:11px;
	color: #111;
	padding: 1px 0;
}
#wbstats_container pre {
	background: #eee;
	border: 1px solid #333;
	padding: 5px;
	display:inline-block;
}

.wbstats_h250 {
	height: 260px;
}
.wbstats_h265{
	height: 265px;
}
.wbstats_h600{
	height: 570px;
}
.wbstats_right {
	float: right !important;
}
.wbstats_left {
	float: left;
}
.wbstats_middle {
	position:relative;
	margin:10px 1% 0 0;
	width:46%;
	float:left;
	z-index:1;
	background-color:#FFFFFF;
	border: 1px solid #28609B;
	padding: 15px 1%;
}

.wbstats_wbsfull {
	position:relative;
	margin:10px 1% 0 0;
	width:95%;
	z-index:1;
	background-color:#FFFFFF;
	border: 1px solid #28609B;
	padding: 15px 1%;
	height: 300px;
}

.wbstats_bar {
	margin-right:1px;
	margin-left:1px;
	z-index:1;
	background-color:#28609B;
	font-size:0.8em;
	overflow:hidden;
	cursor: pointer;
}
.wbstats_vbar {
	height:15px;
	background-color:#6699cc;
	cursor: pointer;
}
.wbstats_bar:hover, .wbstats_vbar:hover {
	margin-right:1px;
	z-index:1;
	background-color:#6699cc;

}
.wbstats_expand,.wbstats_expandunder {
	cursor: pointer;
}
.wbstats_timeline {
	border-left:1px #DDDDDD solid;
	font-size:0.8em !important;
	color:#333333;
}
.wbstats_underline {
	border-bottom:1px dotted #999;
}
.wbstats_popup th {
font-size: 12px;
	font-weight: bold;
	color: #fff;
	border-bottom: 1px solid #fff;
}
.wbstats_popup td {
	color: #fff;
}
