/** 
 * Layout for the Ini Editor
 * @author: Christian M. Stefan
*/

.settingName label {
	font-weight: bold;
}

.editor-container {
	margin: auto;
	border: 1px solid #D9D9D9;
	padding: 10px;
}

.btn {
	font-size: 10px;
	padding: 3px;
}

.h3-label {
	font-size: 80%;
	font-weight: normal;
	margin-right: 20px;
}

.config-container {
	width: 80%;
	margin-left: 50px;
	display: block;
}

textarea.form-control {
	width: 100%;
	display: inline-block;
}

.form-group.vector {
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.editor-container fieldset {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0;
	border: transparent 1px solid;
}

.editor-container legend {
	margin-bottom: 25px;
	font-weight: bold;
	font-size: 16px;
	width: 100%;
	border-bottom: #ebedf3 2px solid;
	padding-bottom: 6px;
	padding-left: 6px;
}

input.btn.btn-success {
	font-size: 16px;
	padding: 10px;
}

input.form-control[type="checkbox"] {
	height: 20px;
	margin-top: 0;
	margin-left: 30px;
	width: 20px;
	vertical-align: middle;
}

.remove-btn {
	margin-right: 15px;
}

.down-arr,
.up-arr {
	margin-right: 5px;
}

label.array_key {
	margin-top: 10px;
}

.form-group span:nth-child(1) .col-md-10 label.array_key {
	margin-top: 0px;
}

input.move-input {
	width: 20px;
	float: left;
	display: inline;
	background: #D9D9D9;
	border: 3px dotted #888;
	margin-right: 5px;
	display: none !important;
}

input.move-input:focus {
	background: #00c4ff;
}

.editor-container div.settingValue textarea {
	padding: 0.3em;
	vertical-align: top;
	width: 100%;
	min-height: 0.6em;
}

.editor-container div.settingValue textarea:focus {
	outline-style: solid;
	outline-width: 2px;
}