@import url(../../include/jscalendar/calendar-system.css);


/* make not that easy elements invisible
.modify_header_and_file {display:none;}
.modify_other_pages {display:none;}
.modify_buttons {display:none;}
.tp_ne1 {display:none;}
 */

/* delete link, if standard delete link ist noch visible */
.topic-modifytopic-delete-alternative {display:none;}




td {
	vertical-align: top;
}

.tpfw98 {width:90%;}
.tpfw90 {width:90%;}
.tpfw30 {width:30%;}
.tpfh30 {height:30px;}
.tpfh60 {height:60px;}
.inputf.tpf-small {width:40px; margin-right:20px;}


.mod_moduledirectory_edit_css {float:right;}

div.topic-modify {margin-top:20px; font-size:14px; width:100%;}
div.topic-modify a {display:block; float:left; height:35px; width:150px; padding: 12px 0 0 24px;}
div.topic-modify .topic-modify-add { background: transparent url(img/T.png) no-repeat; }
div.topic-modify .topic-modify-settings { background: transparent url(img/T.png) no-repeat; }
div.topic-modify .topic-modify-help { background: transparent url(img/T.png) no-repeat; }


div.topic-modifytopic  a {
	display:block;
	margin: 0 0 10px 10px;
	padding: 12px 0 12px 45px;
	background-color: #cde7ef;
	background-image: url(img/none.gif);
	background-repeat: no-repeat;
	background-position: 5px center;
	text-decoration:none;
}
div.topic-modifytopic .topic-modifytopic-see-also { background-image: url(img/icons/see-also.png);}
div.topic-modifytopic .topic-modifytopic-bakery { background-image: url(img/icons/see-bakery.png);}
div.topic-modifytopic .topic-modifytopic-authors { background-image: url(img/icons/authors.png);}
div.topic-modifytopic .topic-modifytopic-new { background-image: url(img/icons/new.png);}
div.topic-modifytopic .topic-modifytopic-duplicate { background-image: url(img/icons/duplicate.png);}
div.topic-modifytopic .topic-modifytopic-settings { background-image: url(img/icons/settings.png);}
div.topic-modifytopic .topic-modifytopic-help { background-image: url(img/icons/help.png);}
div.topic-modifytopic .topic-modifytopic-delete { background-image: url(img/icons/delete.png);}





.topicpic_container {
	border: 1px solid #999999;
	overflow: hidden;
	height: 160px;
	width: 300px;
	text-align:center;
	background-color:#dddddd;
}

.topicpic_container #topicpic {max-height: 160px; }
.topicpic_container .switchbox a img {float: left; border-right: #999;}

a img {border:0;}


/*settings*/
.tablinks a {display:block; float:left; padding:8px 3px 6px 3px; border: 1px solid #666;  border-bottom: none; margin: 0 3px 0px 0; background-color:}
.tablinks a.activeTab {background-color: #eef4f6;}

.settingsform * {box-sizing: content-box;     -webkit-box-sizing: content-box;  -moz-box-sizing: content-box;}
.settingsform table td {vertical-align:top; padding-bottom:5px;}
.settingsform div.tabarea { min-height:330px; padding:2px; background-color: #eef4f6; width:100%; margin-bottom:20px; font-size:11px;}

.settingsform .tabarea .settingsleft {  width:68%; float:left;}
.settingsform div.infodiv{ width:30%; float:right;}
.settingsform .tabarea .setting_name { width:25%;}

.mod_topics_edit_css {display:inline; }

.assistantpresets td {padding: 0 0 0 5px; border-left: 1px solid #999; line-height:140%;}
.assistantpresets a {padding: 5px 5px 0 0; opacity:0.5; transition: 1s opacity;}
.assistantpresets a:hover {opacity:0.9; }


/*list Page*/
.topiclist-toptable {width:100%;}


.topiclist-toptable h3 {margin:0; font-size:14px;}
.topiclist-toptable .short_description {}
.topiclist-toptable .short_content {}
.topiclist-toptable .parambox {width:200px;}

.topiclist-maintable  {width:100%; border-collapse:collapse;}
.topiclist-maintable td  {vertical-align: top; border-bottom: 1px solid #dddddd;}
.topiclist-maintable tr:hover td {
	background-color: #99CCFF ! important;
}
.linkin {width:20px;}
.anleitung {font-size:10px;}

.modifytopic1 {margin-bottom:10px;}
.topictd img  {width:16px; height:16px; float:left; margin:2px;}
.topictd .shortdesc {font-size:10px;}

td .topicprops {width:150px;}
.topicprops img  {width:16px; height:16px; float:left; margin:2px;}
.viewbutton {float:right; }



.modify_other_pages {width:60%; float:left;}
.modify_buttons {width:30%; float:right;}

.pnsa_links {width:100%;}
.pnsa_links td {width:50%; padding-right:20px;}

.pnsa_links {width:100%;}

.pnsa_links td.pn_links a  {font-size:11px; font-weight:normal;}
/*Bei sehr groszen Thumbs: Verkleinerung erzwingen*/

.pnsa_links td.pn_links a img, .pnsa_links td.sa_links a img {max-width:50px; max-height:50px; clear:left; float:left; margin:0 5px 20px 0;}

.pnsa_links .pnsaclear {display:block; height:0; clear:both;}


/*
.pnsa_links. td.sa_links {}
.pnsa_links. td.modifytopictd {}
*/
.pnsa_links, .pnsa_links h4, .pnsa_links p  {font-size:12px; margin:0;}
.pnsa_links a { font-weight: bold; }





.iconthumb  {float:left; width:42px; height:42px; margin:0 5px 0 0 ;}

.setting_name {width:20%}
.inputf {width:98%}

/* 
  The definitions below provide the style for the edit CSS button 
  Required CSS class name: input.mod_moduledirectory_edit_css
*/
input.mod_topics_edit_css {
  color: #000;
  background-color: #F0F0F0;
  border: 1px solid gray;
  padding: 2px;
  margin: 0;
  margin-left: 625px;
  margin-top: -20px;
  margin-bottom: 5px;
  width: 110px;
}

.hilite td {
	background-color: #E0ECBE ! important;
	color: #999999;
}


#topicpic_chooser .switchbox {text-align:right; padding-left:2px;}

/*uploader*/
#pictureupload iframe {border:0; height:80px; background: transparent;}
/* Picture Chooser */

#topics_chooser_overlay {opacity:0.2; width:80%; min-width:500px; position:absolute; top:-400%; left:10%; z-index:8000; background:#999; box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.4); transition: opacity 0.5s, top 2s;} 
#topics_chooser_overlay.visible {top:5%;  opacity:1; transition: opacity 0.5s, top 0.3s;}

#topics_picturechooser {height:500px; width:100%; padding:0; background-color:#ddd; overflow:scroll;}
#topics_picturechooser iframe {height:100%; width:100%; margin:0; padding:0; border:0;}

.topicpic_preview_close {width:100%; height:20px; text-align:right;  background-color:#ddd;}
.topicpic_preview_closebox {display:block; float:right; width:20px; height:20px; background: url(img/closebox.png) no-repeat;}

.topicpic_preview {float:left; margin:10px; width:140px; height:100px; overflow:hidden;}
.topicpic_preview img {max-width:140px; border:0; text-align:center} 


.buttonfloater {position: fixed; right:0; top:60%; width: 100%; height:0;}
.buttonfloater .inner {float:right;}
.buttonfloater .inner a { display:block; width: 40px; height:40px; }
.buttonfloater .inner a.back {background-image: url(img/icons/quick-back.png);}
.buttonfloater .inner a.save-back {background-image: url(img/icons/quick-save-back.png);}
.buttonfloater .inner a.save {background-image: url(img/icons/quick-save.png);}
.buttonfloater .inner a.down {background-image: url(img/icons/quick-down.png);}


/*frontend edit*/
body.freditbody {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background-color: #ccc;	
}

.freditcontainer {max-width:700px; margin:0 auto 0 auto; background-color: #eee; padding:10px;}

.freditcontainer td {vertical-align:top;}
.freditcontainer tr.row_a td {background-color: #fff;}
.freditcontainer tr.row_b td {background-color: #f7f7f7;}

.freditcontainer .freditfooter {clear:both; height:10px; width:100%; background-color: #ddd;}


@media screen and (max-width: 1000px) {
	#topics_chooser_overlay {left: 5%; width:90% ! important; min-width:auto;}
}


@media screen and (max-width: 600px) {
	.modifytopic-toptable td, .tpbreaktable td  {display:block; }
	#topics_chooser_overlay {left: 0; width:100% ! important; min-width:auto;}
	.modify_buttons .topic-modifytopic a {font-size:10px;}


}

