/* CSS for upload-page: box with directories to browse mediafolders */
@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-bold-webfont.woff') format('woff'), url('webfonts/fonts/opensans-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-regular-webfont.woff') format('woff'), url('webfonts/fonts/opensans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-bolditalic-webfont.woff') format('woff'), url('webfonts/fonts/opensans-bolditalic-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-italic-webfont.woff') format('woff'), url('webfonts/fonts/opensans-italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
body, td, th, input, textarea {
    font-family: open_sans, sans-serif;
    font-size: 14px;
    line-height: 24px;
}
body {
    background-color: #fff;
    margin: 0;
}
hr {
    margin: 0;
    color: #003366;
    height: 1px;
}
.hide {
    display: none;
}
a:link, a:visited, a:active {
    color: #28609B;
    text-decoration: none;
}
a:hover {
    color: #517aa5;
    text-decoration: none;
}