html {
    box-sizing: border-box;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #009999;
    font-weight: normal;
}

h1,
h2,
h3 {
    font-size: 1.8em;
    margin: 25px 0 5px 0;
}

h4 {
    font-size: 1.4em;
    margin: 8px 0 8px 0;
}

h5 {
    font-size: 1.2em;
    margin: 8px 0 8px 0;
}

h6 {
    font-size: 1em;
    margin: 8px 0 8px 0;
}

p {
    margin: 8px 0 8px 0;
}

pre {
    background: #FFFFFF none repeat scroll 0 0;
    border: 1px dashed #DDDDDD;
    color: #666666;
    width: 130px;
    margin: 15px 0;
    padding: 5px;
}

hr {
    background-color: #009999;
    color: #DDDDDD;
    height: 1px;
    margin: 5px 0;
}