.sfs {}

.sfs td {
	padding: 10px;
	/* border: 1px solid red; */
}

.sfs .forSelect {
	width: 100px;
}

.sfs .tdright {
	text-align: right;
}


/* Tooltip CSS */
.tooltip {
	/* border-bottom: 1px dotted #000000; */
	color: #000000;
	outline: none;
	cursor: help;
	text-decoration: none;
	position: relative;
}

.tooltip span {
	margin-left: -999em;
	position: absolute;
}

.tooltip:hover em {
	font-family: Candara, Tahoma, Geneva, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	display: block;
	padding: 0.2em 0 0.6em 0;
}

.tooltip:hover span {
	border-radius: 5px 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: absolute;
	left: 1em;
	top: -2em;
	z-index: 99;
	margin-left: -0em;
	padding: 10px 10px 20px 20px;
	width: 270px;
}

.help {
	border: 1px solid #777777;
	background: #464e5e;
	color: #eeeeee;
}