<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Maximum Invalid Login Attemps Exceeded</title>
<link href="{THEME_URL}/theme.css" rel="stylesheet" type="text/css" />

<style type="text/css">
	body {
			font-family:open_sans,sans-serif;
	}
	#message {
			text-align:center;
			margin-top:2em;
			color:firebrick;
	}
</style>

</head>
<body>

<div id='message'>
	<h1>Excessive Invalid Logins</h1>
	You have attempted to login too many times
</div>

</body>
</html>