/**
----------------------------------------------------------------
 overrides for the control panel content are in "Argos Theme"
----------------------------------------------------------------
*/


/*
    Settings Forms
*/
div.cpForm  {
    padding-top: 25px;
}
div.cpForm .formRow {

}
div.cpForm .formHeading{
    margin-bottom: 10px;
    border: 0;
}
div.cpForm .formDescription{
    font-size: 110%;
}

label.settingName:after{
    content: ':';
}
div.formHeading{
    font-weight: bold;
    color: #303641;
    font-size: 19px;
    line-height: 24px;
}
div.buttonRow{
    margin-top: 10px;
}

/*
    cpTabs
*/
.cpWrap > .cpTabs {
    margin: -24px -24px 24px;
    padding: 7px 11px 0;
    overflow: hidden;
    border-top: 0;
    border-bottom: 5px solid #fff;
    background-color: #CBCFD8;
}
.cpTabs li .tab {
    font-weight: normal;
    margin: 0 .2em;
    text-decoration: none;
}
.cpWrap > .cpTabs li a:hover {
    background-color:#5E697F;
}
.button:before,
.cpTabs li .tab:before
{
    font-family: FontAwesome;
    width: 1em;
    text-align: center;
    font-size: 1.2em;
    margin: 0 0.4em 0 0;
    padding: 0 0.3em 0 -0.1em;
    pointer-events: none;
}
.cpTabs li .tab:before
{
    font-size: 1.4em;
    padding: 0 .2em 0 0.5em;
}
.cpTabs li .tab
{
    background-color: #464E5E;
    line-height: 1.3em;
    padding-right: 1.2em;
}
.cpTabs li .tab:hover
{
    text-decoration:none !important;
    background-color: #409940;
}